.logo{
    background-image: url("../assets/logo.png");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    height: 50px;
    width: 50px;
}

.parent-header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: +1;
}
.parent-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #fff;
}

.footer hr{
    border: none;
    border-top: 1px solid #666;
    margin: 8px 0;
}

.active{
    color: #f39c12;
}